module.exports = {
  url: "mongodb://localhost:27017/personal", 
  secret: "bezkoder-secret-key",
  //jwtExpiration: 3600,           // 1 hour
  //jwtRefreshExpiration: 86400,   // 24 hours
  jwtExpiration: 60,          // 1 minute
  jwtRefreshExpiration: 120,  // 2 minutes
  HOST: "localhost",
  PORT: 27017,
  DB: "personal"
};